@{
    ViewData["Title"] = "Radio";
}

<div class="song-info">
    <div class="row">
        <div class="col-md-6 text-center">
            <!-- Imagen del álbum en un círculo -->
            <img src="img/kanye.jpg" alt="Álbum" class="img-fluid rounded-circle" style="width: 170px;">
        </div>
        <div class="col-md-6">
            <!-- Información de la canción -->
            <h2>Nombre de la canción</h2>
            <h4>Nombre del artista</h4>
            <!-- Barra de reproducción -->
            <div class="progress mt-3">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>