html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: linear-gradient(to right, #051937, #004d7a); /* Cambia estos colores según tus preferencias */
  color: white;
}

header, footer{
  background: linear-gradient(to right, #041228, #013e62);
}

/* Agregamos estilos adicionales para centrar el contenido y ajustar el espaciado */
.song-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Esto asegura que el contenido esté centrado verticalmente */
}